*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.mainpage{
    width: 100%;
    height: 250vh;
    overflow: hidden;
    /* background-color: green; */
    /* position: relative; */
    
}

.fixed-ele{
    position: fixed;
    width: 100%;
    
}

.navbar{
    width: 100%;
    height: 3.5rem;
    /* background-color: red; */
    display: flex;
    justify-content:space-between;
    align-items: center;
    background: linear-gradient(126deg, rgba(0,0,0,0.9585084033613446) 16%, rgba(0, 0, 0, 0.94) 48%, rgba(0, 0, 0, 0.94) 100%);
    color: white;
    
}

.nav-logo{
    margin: 1rem;
    width: 5%;
    height: 2.5rem;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    color: #000;
    font-family: "Nosifer", sans-serif;
    font-size: .8rem;

}

.nav-items{
    /* background-color: bisque; */
    display: flex;
    gap: 10px;
    cursor: pointer;
    color: white;
    margin-right: 10px;
    font-family: "Tiny5", sans-serif;
}

.faq{
    display: flex;
    margin-left: -32rem;
    gap: 20px;
    cursor: pointer;
    font-family: "Tiny5", sans-serif;
}

.name{
    cursor: pointer;
    font-family: "Nosifer", sans-serif;
    margin-left:-12rem;
}


/* fixed section */

.header-section{
    background-color: rgba(0, 0, 0, 0.995);
    width: 100%;
    height: calc(100vh - 3.5rem);
    display: flex;
    justify-content:center;
    
}

.bgimg{
    width: 100%;
    filter:opacity(30%);
}


.bg-img2{
    position: absolute;
    width: 35%;
    margin-top: -6.9rem;
    margin-left: -9rem;
    filter: grayscale(20%);
    transition: all  .4s ease-in;
    animation-name: bg2;
    animation-duration: 2s;
}

@keyframes bg2{
    0%{filter:grayscale(0%);
        opacity: 0.1;}

    100%{
        filter:grayscale(20%);
        opacity: 1 }
  }

.bg-img2:hover{
    filter: grayscale(0%);
    transform: scale(1.01);
}

.strip{
    width: 270%;
    height: 4rem;
    position: absolute;
    font-size: 2.5rem;
    margin-top: 20%;
    color: white;
    /* border-block: 1px solid rgba(255, 255, 255, 0.121); */
    /* left: 55%; */
    font-weight: 900;
    text-shadow: 0 0 5px #eaff0034, 0 0 5px #d4bb006c;
    /* animation-name: strip; */
    /* animation: scroll 10s linear infinite; */
    /* animation-duration: 4s; */
    /* background-color: rgba(255, 235, 205, 0.299); */
}

.marquee-text{
    font-family: "Poiret One", sans-serif;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    animation: scroll 25s linear infinite;
    gap: 1rem;
}

@keyframes scroll {
    to {
        transform: translateX(-70%);
    }
}

/* @keyframes strip{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 100%;
    }
    
} */

/* Moving section */


.movable{
    width: 100%;
    /* background-color: black; */
    position: absolute;
    margin-top: 80vh;
    /* overflow: hidden; */
}

.qoute-tag-1{
    width: 100%;
    height: 43vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(127, 255, 212, 0.104); */
    /* animation: apear liner 5s ;
    animation-timeline: view();
    animation-range: entry 0% cover 80%; */
}

/* Scrolling animtion */


@keyframes qapear{
    0%{
        opacity: 0;
        scale: 0;
        text-shadow: none;
        background-color: none;
    }

    70%{
        opacity: 1;
        scale: 1; 
        /* text-shadow: 0 0 5px #eaff00, 0 0 5px #ffe203; */

    }
}

.q-text{
    width: 50%;
    /* padding: 10px;
    border-radius: 20px; */
    /* background-color: #000; */
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    margin-left: -7%;
    /* scroll appear animation */
    animation: qapear linear 5s;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
    text-shadow: 0 0 5px #00000034, 0 0 5px #0000006c;
    /* background-color: rgba(94, 60, 10, 0.273); */
}

.over{
    overflow: hidden;
}

.sale-strip{
    width: 210%;
    height: 6vh;
    background-color: rgba(116, 108, 108, 0.292);
    display: flex;
    align-items: center;
}

.sale-in{
    width: 100%;
    height: 80%;
    /* background: #0000002e; */
}

.sale-q{
    /* background-color: #0000007b; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    animation: scrolls 35s linear infinite;
}

.sale-q p{
    /* background-color: rgba(0, 0, 0, 0.032);
    border-radius: 05px;
    color:#000;
    padding: 5px;
    border: #0000001d solid 2px; */
    color: rgba(255, 255, 255, 0.741);
    font-weight: 400;
}


@keyframes scrolls {
to {
    transform: translateX(-100%);
}
}

.items1{
    width: 100%;
    height: 110vh;
    background-color: aqua;
    position: relative;
    display: flex;
    font-weight: bolder;
    /* border-radius: 20px; */
}

.img-1{
    width: 100%;
    height: 100%;
    /* border-radius: 10px 10px 0px 0px; */
}

.img-1-text{
    color: rgba(255, 255, 255, 0.737);
    width: 35%;
    position: absolute;
    /* background-color: aquamarine; */
    text-shadow: 1px 3px 5px #000000, 3px 5px 5px #000000;
    margin-top: -230px;
    margin-left: 20px;
    font-family: "Tiny5", sans-serif;
    text-transform: uppercase;
}

.img-1-text h1{
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
.img-1-text h2{
    font-size: 1rem;
    text-align:start;
}

.items2{
    width: 100%;
    height: 100vh;
    background-color: rgb(115, 255, 0);
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 95%;
    height: 80vh;
    background-color: blue;
    border-radius: 10px 10px;
}

.items3{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 64, 0);
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* responsive to mobile */


@media screen and (max-width: 800px) {
    .navbar{
        font-size: 0.5rem;
    }

    .faq{
        display: none;
    }
    
    .name{
        margin-left: 1.5rem;
        cursor: pointer;
    }


    .nav-logo{
        margin: 1rem;
        width: 10%;
        height: 2.5rem;
        background-color: antiquewhite;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        cursor: pointer;
        color: #000;
        
    }

    .strip{
        gap: 8rem;
        font-size: .4rem;
        margin-top: 40%;
        /* margin-left: 1rem; */
    }
    .strip h1{
        margin-left: 1rem;
    }

    .bg-img2{
        margin-left: -4rem;
        width: 28.5rem;
        animation: none;
        filter: none;
        overflow: hidden;
        margin-top: -6rem;
    }
    .bg-img2:hover{
        transform: none;
    }

    .items1{
        height: 30vh;
    }

    .inside{
        margin-top: -130px;
        margin-left: 5px;
        width: 45%;
        font-size: 6px;
    }
  }