*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    behavior: smooth;
}

.anton-regular{
    font-family: "Anton", serif;
    font-weight: 400;
    font-style: normal;
    /* font-size: 50px; */
}

.mainpage{
    width: 100%;
    height: 250vh;
    overflow: hidden;
    /* background-color: green; */
    /* position: relative; */
    
}

.fixed-ele{
    position: fixed;
    width: 100%;
    
}

.navbar{
    width: 100%;
    height: 3.5rem;
    /* background-color: red; */
    display: flex;
    justify-content:space-between;
    align-items: center;
    background: linear-gradient(126deg, rgba(0,0,0,0.9585084033613446) 16%, rgba(0, 0, 0, 0.94) 48%, rgba(0, 0, 0, 0.94) 100%);
    color: white;
    
}

.nav-logo{
    margin: 1rem;
    width: 5%;
    height: 2.5rem;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    color: #000;
    font-family: "Nosifer", sans-serif;
    font-size: .8rem;

}

.nav-items{
    /* background-color: bisque; */
    display: flex;
    gap: 10px;
    cursor: url(/svgs/lightning-bolt-outline.svg) , auto;
    color: white;
    margin-right: 10px;
    font-family: "Tiny5", sans-serif;
}

/* .searchi{
    cursor: url(/heart-outline.svg) 12 12, auto;
} */

/* Blur on hover */
.nav-items:hover> :not(:hover){
    filter: blur(5px);
    opacity: 0.5;
} 

.faq:hover> :not(:hover){
    filter: blur(5px);
    opacity: 0.5;
}   
/* _____________ */


.faq{
    display: flex;
    margin-left: -32rem;
    gap: 20px;
    cursor: pointer;
    font-family: "Tiny5", sans-serif;
}

.faq a{
    color: white;
    text-decoration: none;
}

.name{
    cursor: pointer;
    font-family: "Nosifer", sans-serif;
    margin-left:-12rem;
}


/* fixed section */

.header-section{
    background-color: rgba(0, 0, 0, 0.995);
    width: 100%;
    height: calc(100vh - 3.5rem);
    display: flex;
    justify-content:center;
    
}

.bgimg{
    width: 100%;
    filter:opacity(30%);
}


.bg-img2{
    position: absolute;
    width: 532px;
    margin-top: -6.9rem;
    margin-left: -9rem;
    filter: grayscale(20%);
    transition: all  .4s ease-in;
    animation-name: bg2;
    animation-duration: 2s;
}

@keyframes bg2{
    0%{filter:grayscale(0%);
        opacity: 0.1;}

    100%{
        filter:grayscale(20%);
        opacity: 1 }
  }

.bg-img2:hover{
    filter: grayscale(0%);
    transform: scale(1.01);
}

.strip{
    width: 270%;
    height: 4rem;
    position: absolute;
    font-size: 2.5rem;
    margin-top: 20%;
    color: white;
    /* border-block: 1px solid rgba(255, 255, 255, 0.121); */
    /* left: 55%; */
    font-weight: 900;
    text-shadow: 0 0 5px #eaff0034, 0 0 5px #d4bb006c;
    /* animation-name: strip; */
    /* animation: scroll 10s linear infinite; */
    /* animation-duration: 4s; */
    /* background-color: rgba(255, 235, 205, 0.299); */
}

.marquee-text{
    font-family: "Poiret One", sans-serif;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    animation: scroll 25s linear infinite;
    gap: 1rem;
}

@keyframes scroll {
    to {
        transform: translateX(-70%);
    }
}

/* @keyframes strip{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 100%;
    }
    
} */

/* Moving section */


.movable{
    width: 100%;
    /* background-color: black; */
    position: absolute;
    margin-top: 80vh;
    /* overflow: hidden; */
}

.qoute-tag-1{
    width: 100%;
    height: 43vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(127, 255, 212, 0.104); */
    /* animation: apear liner 5s ;
    animation-timeline: view();
    animation-range: entry 0% cover 80%; */
}

/* Scrolling animtion */


@keyframes qapear{
    0%{
        opacity: 0;
        scale: 0;
        text-shadow: none;
        background-color: none;
    }

    70%{
        opacity: 1;
        scale: 1; 
        /* text-shadow: 0 0 5px #eaff00, 0 0 5px #ffe203; */

    }
}

.q-text{
    width: 50%;
    /* padding: 10px;
    border-radius: 20px; */
    /* background-color: #000; */
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    margin-left: -7%;
    /* scroll appear animation */
    animation: qapear linear 5s;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
    text-shadow: 0 0 5px #00000034, 0 0 5px #0000006c;
    /* background-color: rgba(94, 60, 10, 0.273); */
}

/* movable part */

.over{
    overflow: hidden;
}

.sale-strip{
    width: 210%;
    height: 6vh;
    background-color: rgba(116, 108, 108, 0.292);
    display: flex;
    align-items: center;
}

.sale-in{
    width: 100%;
    height: 80%;
    /* background: #0000002e; */
}

.sale-q{
    /* background-color: #0000007b; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    animation: scrolls 35s linear infinite;
    animation-delay: 2s;
}

.sale-q p{
    /* background-color: rgba(0, 0, 0, 0.032);
    border-radius: 05px;
    color:#000;
    padding: 5px;
    border: #0000001d solid 2px; */
    color: rgba(255, 255, 255, 0.741);
    font-weight: 400;
}


@keyframes scrolls {
to {
    transform: translateX(-100%);
}
}

/* side bar */

.sidebar{
    width: 2%;
    height: 420vh;
    /* background-color: antiquewhite; */
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    margin-left: 1485px;
}

.sidebar-item{
    width: 100%;
    height: 40vh;
    /* background-color: rgb(255, 0, 225); */
    position: sticky;
    top: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-items{
    width: 90%;
    height: 60%;
    background-color: #655c5c20;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.115);
}

.icon:hover{
    transform: scale(1.2);
    cursor: pointer;
    color: rgba(95, 90, 90, 0.875);
}

.icon{
    transition-duration: .2s;
    color: rgba(255, 255, 255, 0.704);
    text-shadow: .5px .5px #000000;
}

/* .sidebar-items:hover> :not(:hover){
    filter: blur(5px);
    opacity: 0.5;
} */

/* items */

.items0{
    width: 100%;
    height: 102vh;
    background-color:   #1C1C1C;
    display: grid;
    grid-template-columns :25% 25% 50%;
    grid-template-rows: 26% 50% 25%;
}



.left-top-left{
    /* background-color: purple;   */
    padding: 6%;
    padding-left: 10%;
}

.square{
    background-color: #fffff0;
    box-shadow: 0 0 5px #f0f7a0d4, 0 0 5px #1c1b15e5;
    width: 15px;
    height:15px;
    rotate: 45deg;
    border-radius: 12%;

    animation: arrow linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.left-top-right{
    /* background-color: crimson; */
    padding: 6%;
    justify-items: end;
    color:  #fffff0d7;
}

.left-top-right h3{
    margin-bottom: 3vh;
    font-weight: 600;
    font-size: 20px;
    border-left: 1px solid #ccc; 
    padding-left: 15px;
}

.left-top-right h5 {
    font-weight: 500;
    font-size: 17px;
    color: #fffff0b0;
    margin-bottom: 10px;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    border-bottom: 2px solid transparent;  
}

.left-top-right h5:hover {
    color: #ffffffcc;
    cursor: pointer;
    border-bottom: 2px solid #ffffffc8;  
}


.left-top-right h4{
    margin-top: 1vh;
    font-weight: 500;
}

.left-middle{
    /* background-color: rgb(0, 255, 98); */
    grid-column:1/3; 
}

.left-middle{
    color: #FFFFF0;
    font-size: 3.5vw;
    font-weight: 400;
    padding: 6%;
}

.left-middle h1{
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 6vw;
}

.left-middle h1:nth-child(2n){
    text-align:center;
    padding-left: 12%;
}

.left-middle h1:hover{
    text-shadow: 0 0 5px #eaff0090, 0 0 5px #d4bb00e5;
    cursor: pointer;
    transition-duration: .2s
    
}

.left-bottom{
    /* background-color: yellow; */
    grid-column:1/3;
    color: #fffff0c2;
    padding: 6% ; 
    font-family: Arial, Helvetica, sans-serif;
}

.left-bottom p{
    width: 60%;
    font-weight: 100;
    font-size: 20px;
    line-height: 1.5;
}

.right{
    /* background-color: blue; */
    grid-row: 1/4;
    grid-column: 3;
    padding: 2% 5% 5% 2%;
}

.right video{
    height: 103%;
    width: 100%;
    object-fit:cover;
}

.arrow{
    position: absolute;
    background-color:orangered;
    padding: 30px;
    top: 20%;
    left: 48.2%;
    border-radius: 50%;
    transition-duration: .2s;
    animation: arrow linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.arrow i{
    font-size: 30px;
}

.arrow:hover{
    transform: scale(1.1 );
    cursor: pointer;
    color: rgba(95, 90, 90, 0.875);
}

.scroll_banner{
    animation: banner linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

/* scroll animations banner */

@keyframes banner {
    from {
        opacity: 0;
        /* scale: 0.5; */
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        /* scale: 1; */
        transform: translateX(0px);
    }
    }


/* scroll animations arrow */

@keyframes arrow {
    from {
        opacity: 0;
        scale: 0;
        /* transform: translateX(-100px); */
    }
    to {
        opacity: 1;
        scale: 1;
        /* transform: translateX(0px); */
    }
    }

/* end */

/* item 1 - gender selection */

.gender{
    width: 100%;
    height: 110vh;
    /* background-color: rgb(200, 200, 200); */
    background-color:   #1C1C1C;

    display: grid;
    grid-template-columns: 30% 70%;
}

.left_side{
    /* background-color: blue; */
    width: 100%;
    align-content: center;
    color: #ccc;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10%;

    animation: autoScroll 1s linear forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}


.left_side  h1{
    font-family: "Anton", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    line-height: 1;
    cursor: pointer;
}


.left_side h1:nth-child(2n){
    margin-bottom: 5%;
    font-size: 130px;
}

.left_side h4{
    line-height: 1.6;
    font-size: 18px;
    cursor: pointer;
}

.right_side{
    width: 100%;
    /* background-color: rgb(0, 255, 51); */
    align-content: center;
    overflow-x: auto;
    overflow-y: hidden;
    animation: opacityin 1s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

/* Auto Scroll Animation */
@keyframes opacityin {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.item_slider{
    /* background-color: yellow; */
    width: 160%;
    height: 80%;
    display: flex;

}

.margin-last:nth-child(n){
    margin-right: 5px;
}

.slide{
    /* background-color: rgba(255, 106, 0, 0.19); */
    width: 30%;
    height: 100%;
    margin-left: 1%;
    position: relative;
    overflow: hidden;
}

.slide img,video{
    object-fit: cover;
    width: 100%;
    height: 100%;
    animation: autoScroll 1s linear forwards;
    border-radius: 5px;
    position: relative;
}

.slide:hover video{
    filter: blur(2px);
    opacity: 0.5;
    cursor: pointer;
}

.shop_now {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    padding: 5px 10px;
    border-radius: 8px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
    z-index: 2;
}

.slide:hover .shop_now {
    opacity: 1;
}

.shop_now{
        font-family: "Anton", serif;
        font-weight: 400;
        word-spacing: 5px;
        font-size: 20px;
}



/* horizontall  scroll styling */

.right_side::-webkit-scrollbar {
    height: 5px; /* Controls the thickness of the scrollbar */
}

.right_side::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1); /* Light background for the scrollbar track */
    border-radius: 10px;
}

.right_side::-webkit-scrollbar-thumb {
    background: rgba(230, 229, 229, 0.5); /* Darker thumb for contrast */
    border-radius: 10px;
}

.right_side::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.7); /* Slightly darker on hover */
}



/* Dropped */

/* .items1{
    width: 100%;
    height: 110vh;
    background-color: aqua;
    position: relative;
    display: flex;
    font-weight: bolder;
    border-radius: 20px;
}

.img-1{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
}

.img-1-text{
    color: rgba(255, 255, 255, 0.737);
    width: 35%;
    position: absolute;
    background-color: aquamarine;
    text-shadow: 1px 3px 5px #000000, 3px 5px 5px #000000;
    margin-top: -230px;
    margin-left: 20px;
    font-family: "Tiny5", sans-serif;
    text-transform: uppercase;
}

.img-1-text h1{
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
.img-1-text h2{
    font-size: 1rem;
    text-align:start;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.863);
} */


/* end */

 /*item 2 - shopping cards  */

.items2{
    width: 100%;
    height: 125vh;
    /* background-color: rgba(200, 200, 200, 0.888); */
    /* background: rgb(22, 22, 22); */
    /* background: linear-gradient(180deg, rgba(111,111,111,0.9332983193277311) 0%, rgba(111,111,111,1) 23%, rgba(111,111,111,1) 45%); */
    /* border-radius: 20px 20px 0px 0px;
    background-color: rgb(157, 155, 155); */
    background-color:   #1C1C1C;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.categories{
    color: #ccc;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    animation: opacityin 1s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.container{
    width: 95%;
    height: 98vh;
    /* background-color:rgba(97, 97, 110, 0.774); */
    border-radius: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.uni-outer{
    width: 98%;
    height: 45%;
    background-color: #00000058;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    margin-top: 30px;

    animation: card_appear_outer linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.uni-outer:hover{
    background-color: #00000058;
    transition-duration: .5s;
}

.uni-outer2{
    width: 98%;
    height: 45%;
    background-color: #4b474753;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;

    animation: card_appear_outer linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.uni-inner{
    width: calc(1414px / 6);
    height: 90%;
    background-color: #000;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    /* align-items: center; */
    transition-duration: .2s;
    overflow: hidden;
    box-shadow: #323131 2px 2px;

    animation: card_appear_inner linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.left_outer{
    animation: card_appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.left_outer{
    animation: card_appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

/* scroll animations */

@keyframes card_appear {
    from {
        opacity: 0;
        /* scale: 0.5; */
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        /* scale: 1; */
        transform: translateX(0px);
    }
    }
/* 2 item */

    /* inner */
    @keyframes card_appear_inner {
        from {
            opacity: 0;
            /* scale: 0.5; */
            transform: translateX(40px);
        }
        to {
            opacity: 1;
            /* scale: 1; */
            transform: translateX(0px);
        }
        }

        @keyframes card_appear_outer {
            from {
                opacity: 0;
                transform: translateX(50px);  /* Slight movement to avoid overflow */
            }
            to {
                opacity: 1;
                transform: translateX(0);     /* Final position */
            }
        }


/* // */


.uniimg{
    width: 80%;
    height: fit-content;
    transition-duration: .7s;
}

.male1{
    z-index: 2;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #EEEEEE;

}

.uni-outer:hover> :not(.uni-inner:hover){
    filter: blur(2px);
    opacity: 0.5;
} 

.uni-outer2:hover> :not(.uni-inner:hover){
    filter: blur(2px);
    opacity: 0.5;
} 

.uni-inner:hover{
    transform: scale(1.04);
    cursor: url(/svgs/hand-pointer.svg) 12 12, auto;
    box-shadow: #323131 3px 2px ;
}

.uniimg:hover{
    transform: scale(1.15);
    cursor: url(/svgs/hand-pointer.svg) 12 12, auto;
}

.items3{
    width: 100%;
    height: 120vh;
    /* background-color: rgb(141, 141, 141); */
    background-color:   #1C1C1C;

    border-radius: 0px 0px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/* responsive to mobile */


@media screen and (max-width: 800px) {

        .sidebar{
            margin-left: 94%;
            width: 20px;
            /* background-color: #000; */
        }

        .sidebar-item{
            width: 100%;
            /* background-color: #00000053; */
        }

        .sidebar-items{
            width: 100%;
            background-color: #352f2f98;
        }

        .icon{
            width: -5px;
        }
        

    .navbar{
        font-size: 0.5rem;
    }

    .faq{
        display: none;
    }
    
    .name{
        margin-left: 1.5rem;
        cursor: pointer;
    }


    .nav-logo{
        margin: 1rem;
        width: 10%;
        height: 2.5rem;
        background-color: antiquewhite;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        cursor: pointer;
        color: #000;
        
    }

    .strip{
        gap: 8rem;
        font-size: .4rem;
        margin-top: 40%;
        /* margin-left: 1rem; */
    }
    .strip h1{
        margin-left: 1rem;
    }

    .bg-img2{
        margin-left: -4rem;
        width: 28.5rem;
        animation: none;
        filter: none;
        overflow: hidden;
        margin-top: -6rem;
    }
    .bg-img2:hover{
        transform: none;
    }

    .items1{
        height: 30vh;
    }

    .inside{
        margin-top: -130px;
        margin-left: 5px;
        width: 45%;
        font-size: 6px;
    }
  }